<div class="header-rectangle">
<div class="header-elements">
        <div class="headline">
            <a href="/"><img id="logo" src="/images/logo.png" /></a>
            <h1 id="headerTitle">Save the Bzz!</h1>
        </div>
        <div class="logos">
            <a href="/signup"><img id="account" src="/images/account.png" /></a>
            <a href="/wishlist"><img id="wishList" src="/images/wishList.png" /></a>
            <a href="/cart"><img id="cart" src="/images/cart.png" /></a>
        </div>
    </div>
</div>