<div class="header-rectangle">
<div class="header-elements">
        <div class="headline">
            <img id="logo" src="/images/logo.png" />
            <h1 id="headerTitle">Save the Bzz!</h1>
        </div>
        <div class="logos">
            <img id="account" src="/images/account.png" />
            <img id="wishList" src="/images/wishlist.png" />
            <img id="cart" src="/images/cart.png" />
        </div>
    </div>
</div>