<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body class="body">
    <div class="main">
        <div class="pageTitle">
            <h1>Your bag</h1>
        </div>
        <% if (products) { %>
        <div class="cart-container">
            <div class="added-products">
                <% products.forEach( p =>  { %>
                <div class="flex-container">
                    <div class="product">
                        <h2 class="productTitle"><%= p.item.name %></h2>
                    </div>
                    <div class="quantity">
                        <h3>Qty</h3>
                    </div>
                    <div class="amount">
                        <p><%= p.qty %></p>
                    </div>
                    <div class="trash">
                        <img class="bin" src="/images/trash.png"/>
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="total-box">
                <div class="total">
                    <h3>Total</h3>
                </div>
                <div class="inline">
                    <div class="subtotal">
                        <h4>Subtotal</h4>
                    </div>
                    <div class="price">
                        <p><%= totalPrice %></p>
                    </div>
                </div>
                <button class="checkout">GO TO CHECKOUT</button>
            </div>
        </div>
        <% } else {%>
            <div class="cart-container">
            <h2 class="emptyCart">Sorry, your cart is empty...</h2>
            </div>
        <% } %>
    </div>
</body>

</html>