<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body class="body">
    <div class="main">
        <div class="pageTitle">
            <h1>Your bag</h1>
        </div>
        <div class="cart-container">
            <div class="added-products">
                <div class="flex-container">
                    <div class="productTitle">
                        <h2>Product</h2>
                    </div>
                    <div class="quantity">
                        <h3>Qty</h3>
                    </div>
                    <div class="amount">
                        <select id="selector">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="trash">
                        <img class="bin" src="/images/trash.png"/>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="productTitle">
                        <h2>Product</h2>
                    </div>
                    <div class="quantity">
                        <h3>Qty</h3>
                    </div>
                    <div class="amount">
                        <select id="selector">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="trash">
                        <img class="bin" src="/images/trash.png" />
                    </div>
                </div>

                <div class="flex-container">
                    <div class="productTitle">
                        <h2>Product</h2>
                    </div>
                    <div class="quantity">
                        <h3>Qty</h3>
                    </div>
                    <div class="amount">
                        <select id="selector">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="trash">
                        <img class="bin" src="/images/trash.png" />
                    </div>
                </div>
            </div>
            <div class="total-box">
                <div class="total">
                    <h3>Total</h3>
                </div>
                <div class="inline">
                    <div class="subtotal">
                        <h4>Subtotal</h4>
                    </div>
                    <div class="price">
                        <p>100 €</p>
                    </div>
                </div>
                <button class="checkout">GO TO CHECKOUT</button>
            </div>
        </div>
    </div>
</body>

</html>