<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product detailed view</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
</head>
<h3>Hallo, <span><%= name + " " + lastname%></span>! Du hast dich mit der Emailadresse <%= email %> erfolgreich registriert!</h3>

</html>