<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product detailed view</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<h3>Hallo, <%= name %>! Du hast dich mit der Emailadresse <%= email %> erfolgreich registriert!</h3>

</html>