<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product detailed view</title>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/product.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body>
    <div class="header-rectangle">
        <div class="header-elements">
            <div class="headline">
                <img id="logo" src="images/logo.png" />
                <h1 id="headerTitle">Save the Bzz!</h1>
            </div>
            <div class="logos">
                <img id="account" src="images/account.png" />
                <img id="wishList" src="images/wishlist.png" />
                <img id="cart" src="images/cart.png" />
            </div>
        </div>
    </div>
    <div class="main">
        <div class="productTitle">
            <h1><%= product %></h1>
        </div>
        <div class="detailView">
        <div class="imgBorder">
                <img class="product-image" src="images/nopicture.png">
        </div>
        <div class="description-container">
                <h2>Product info</h2>
                <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat".</p>
                <button class="add-button">ADD TO BAG</button>
        </div>
        </div>
    </div>
</body>

</html>