<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product Overview</title>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/products.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
</head>

<body>
    <div class="header-rectangle">
        <div class="header-elements">
            <div class="headline">
                <img id="logo" src="images/logo.png" />
                <h1 id="headerTitle">Save the Bzz!</h1>
            </div>
            <div class="logos">
                <img id="account" src="images/account.png" />
                <img id="wishList" src="images/wishlist.png" />
                <img id="cart" src="images/cart.png" />
            </div>
        </div>
    </div>
    <div class="products">
        <div class="productTitle">
            <h1>Products</h1>
        </div>
        <div class="product-grid">
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
            <div class="imgBorder">
                <a href="/productDetailView.html"><img class="product-image" src="images/nopicture.png"></a>
                <a href="/pathToAddToWishlist"><img class="wishlistIcon" src="images/wishlist.png"></a>
            </div>
        </div>
    </div>
</body>

</html>