html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #F1EDED;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    display: flex;
    flex-direction: column;
    bottom: 0;
    background: #F1EDED;
    box-sizing: border-box;
}

.pageTitle {
    display: flex;
    flex-direction: row;
    font-family: Rock Salt, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    align-self: center;
}

.cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.added-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: inline-flex;
    width: 614px;
    height: 84px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #FDF8F8;
    border: 3px solid #cfc4c4;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.flex-item {
    padding: 5px;
    font-size: 24px;
}

.productTitle {
    width: 84px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-left: 5px;
}

.quantity {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    opacity: 0.8;
    margin-left: 100px;
    padding-left: 100px;
}

select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FDF8F8;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.amount {
    line-height: 80px;
    margin-right: 20px;
    margin-left: 0px;
}

.trash {
    margin-right: 30px;
    margin-top: 25px;
}

.bin {
    width: 25px;
    height: 28px;
}

.bin-subscribers {
    width: 25px;
    height: 28px;
    margin-left: 10px;
}

.total-box {
    margin-left: 10px;
    width: 326px;
    height: 463px;
    left: 804px;
    top: 190px;
    background: #FDF8F8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border: 3px solid #cfc4c4;
    border-radius: 5px;
}

.total {
    width: 186px;
    height: 57px;
    margin-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.subtotal {
    display: inline-block;
    width: 150px;
    height: 70px;
    margin-left: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}

.checkout {
    margin: 30px 10px 0px 10px;
    width: 294px;
    height: 72px;
    left: 818px;
    top: 538px;
    background: #F6FA41;
}

.edit {
    margin: 5px 10px 5px 10px;
    width: 100px;
    height: 50px;
    left: 818px;
    top: 538px;
    background: #F6FA41;
    border: none;
}

.edit:hover {
    background-color: #ccc;
    cursor: pointer;
}

.inline {
    display: inline-block;
    height: 240px;
}

.price {
    display: inline-block;
    margin-left: 90px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: rgb(119, 104, 104);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size:110%;
}

tr td {
    padding: 10px 15px;
    font-family: Raleway;
    text-align: center;
}

thead tr {
    font-size: 20px;
    font-family: Raleway;
}