.header-rectangle{
    background: #ECEE81;
    margin-top: 0;
}

.header-elements{
    display: flex;
    justify-content: space-between;
}

.headline {
    display: flex;
    flex-flow: row wrap;
}

#headerTitle{
    font-family: Rock Salt, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    align-self: center;
}

#logo{
    width: 101px;
    height: 83px;
    align-self: center;
    margin-right: 16px;
    margin-left: 16px;
}

.logos {
    display: flex;
    flex-direction: row;
    align-self: center;

    justify-content: space-between;
    margin-right: 20px;
}

#account{
    margin-top: 3px;
    align-self: center;
    height: 50px;
}

#wishList{
    margin-left: 10px;
    align-self: center;
}

#cart{
    align-self: center;
    height: 66px;
    width: 68px;
}

#modal-button {
    background-color: #ECEE81;
    color: #625956;
    border-radius: 3px;
    border:none;
    padding:5px;
    margin-top: 5px;
  }

  .modal-dialog {
    background: white;
    border-radius: 15px;
    width: 50%;
    margin: 0px auto;
  }

  .modal-body {
    padding: 15px 30px;
  }

  .add-button {
    position: absolute;
    right: 35px;
    margin-top: 30px;
    border: 1px solid;
  }
  
  .added-button {
    position: absolute;
    right: 35px;
    margin-top: 30px;
    background-color: #c1ffc1;
    color: #625956;
    border: 1px solid;
  }

  .modal-title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-family: Rock Salt, sans-serif;
    color: #625956;
    font-weight: 100;
  }

  .login {
    font-family: Raleway;
  }