<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create subscriber</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
</head>

<body>
<div class="background">
    <div>
        <h2>Newsletter</h2>
        <p>Subscribe to our Newsletter and we will send you news about new trends.</p>
        <div class="signUpRectangle">
            <form action="/subscribers/create" method="post" class="form-container">
                <input type="text" placeholder="First Name" name="name" required>
                <input type="text" placeholder="Last Name" name="lastname" required>
                <input type="email" placeholder="Email" name="email" required>
                <button type="submit" id="signup-button">SUBSCRIBE</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>