<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
</head>

<body>
<div class="background">
    <div  class="container">
        
        <div class="login-container">
            <div class="login-rectangle">
                <form action="/users/login" method="post">
                    <h2>Log in to your personal space:</h2>
                    <input type="email" placeholder="Email" name="email" required>
                    <input typp="password" placeholder="Password" name="password" required>
                    <button type="submit" id="signup-button">SIGN IN</button>
                </form>
            </div>
            <div class="welcome">
                <h2 class="main-text">
                    Lorem ipsum dolor sit amet,
                </h2>
                <p> consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="signup-link">
            <p class="customer" >New customer? Register <a href='/users/new'>here</a></p>
        </div>
        
        
    </div>
</div>
</body>

</html>