<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up view</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
</head>

<body>
<div class="background">
    <div>
        <h2>Sign up as a user!</h2>
        <div class="signUpRectangle">
            <form action="/users/create" method="post" class="form-container">
                <input type="text" placeholder="First Name" name="first" required>
                <input type="text" placeholder="Last Name" name="last" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <p>By creating your account you agree to our <br>
                    <a href="/">Terms and Conditions & Privacy Policy </a></p>
                <button type="submit" id="signup-button">JOIN US</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>